{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/chrisbanes" title="@chrisbanes on Twitter" target="_blank">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Google+ -->
  <li class="navigation__item">
    <a href="http://plus.google.com/103829716466878605055?rel=author" title="+ChrisBanes" target="_blank">
      <i class='icon icon-social-google-plus'></i>
      <span class="label">Google+</span>
    </a>
  </li>

  <!-- GitHub -->
  <li class="navigation__item">
    <a href="http://github.com/chrisbanes" title="@chrisbanes on GitHub" target="_blank">
      <i class='icon icon-social-github'></i>
      <span class="label">GitHub</span>
    </a>
  </li>

  <!-- Foursquare -->
  <li class="navigation__item">
    <a href="http://foursquare.com/chrisbanes" title="Chris Banes on foursquare" target="_blank">
      <i class='icon icon-social-foursquare'></i>
      <span class="label">foursquare</span>
    </a>
  </li>

    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="http://uk.linkedin.com/in/chrisbanes/" title="Chris Banes on LinkedIn" target="_blank">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:chris@banes.me" title="Email chris@banes.me">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>

  </ul>
</nav>
